nav {
    font-size: 16pt;
}

.big {
    max-height: 250px;
}

.min {
    max-height: 100px;
}

.blocks {
    background-color: whitesmoke;
}

.logo {
    max-height: 60px;
}
@media (max-width:768px) {
    .min {
        max-height: 250px;
    }
} 